.header-page{
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-image: linear-gradient(225deg, #1d2438 45%, #5167a1 100%);
    color: #f8f8f8;
    gap: 0.5rem;
}

.header-page a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
}

.header-logo{
    width: 100px;
    height: auto;
    border-radius: 10%;
    object-fit: contain;
    background-color: #e9e9e9;
}
