.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between;
    width: 25%;
    height: 100%;
    text-align: center;
    position: sticky;
    background: rgb(27, 31, 43);
    padding: 1.5rem;
}

.logo-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #e9e9e9;
}

.welcome-section h1 {
    font-size: 1.8rem;
    color: #f8f8f8;
    margin-bottom: 0.5rem;
}

.welcome-section span {
    color: #94b6ff;
}

.role-text {
    color: #cfcfcf;
    font-weight: 500;
    margin-bottom: 1rem;
}

.nav-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}

.nav-buttons a {
    text-decoration: none;
    color: white;
}

.logout-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}